DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"
PORT=3001
NODE_ENV=development
CORS_ORIGIN="http://localhost:5173"
FRONTEND_URL="http://localhost:5173"
PUBLIC_BASE_URL="http://localhost:3001"
JWT_SECRET="change_me_super_secret"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_SECRET=6b9ddbcfca90f398189bd4565bfd965a73b30afd16facdef336fe892e2ed2b55149d9099af88021f134715be4202142b586094b23b6d87995548ba06eba76c1d
JWT_REFRESH_EXPIRES_IN="7d"
IOT_PROVIDER="mock"
